# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# TensorRT / ONNX
*.engine
*.trt
*.onnx
*.cache

# Build
build/
install/
log/

# OS
.DS_Store
Thumbs.db

# ROS 2
install/
log/
build/
.vscode/

# Working files
RESEARCH.md
INSTRUCTIONS.md
MORERESEARCH.md
PROMPTS.md
